@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/newsreader/v19/cY9qfjOCX1hbuyalUrK49dLac06G1ZGsZBtoBCzBDXXD9JVF438weI_wC-ZF.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    font-family: 'Newsreader', -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}


.has-tooltip {
    @apply relative
}

.tooltip {
    @apply invisible absolute mt-10 -right-1/2 w-max;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50
}

@layer components {
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }

    [class^='ais-'] {
        font-size: 1rem;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }


    /*Resize the wrap to see the search bar change!*/
    .wrapper {
        @apply ml-auto mr-auto
    }

    .search {
        @apply flex relative
    }

    #searchbox {
        @apply flex relative
    }

    .ais-SearchBox {
        @apply flex
    }

    .ais-SearchBox-form {
        @apply flex justify-start
    }

    /* Search input */
    .ais-SearchBox-input {
        @apply border border-r-0 border-slate-500 p-2 rounded-l-md
    }

    .ais-SearchBox-input:focus {
        @apply text-slate-500;
    }

    /* Search lens icon */
    .ais-SearchBox-submit {
        @apply select-none box-border relative right-0 bg-slate-800 text-lg text-white text-center rounded-r-md
        cursor-pointer w-12
    }

    .ais-SearchBox-submitIcon {
        @apply absolute w-16 h-6 left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 fill-neutral-50
    }

    .ais-SearchBox-reset {
        @apply w-[20px] h-[20px] select-none right-5 absolute top-1/2 -translate-y-1/2
    }

    .ais-SearchBox-resetIcon {
        @apply absolute cursor-pointer top-1/2 -translate-y-1/2 -translate-x-1/2 fill-slate-800
        -left-6 w-3 h-3
    }

    .hits {
        @apply flex relative
    }

    .ais-Hits {
        @apply flex relative -bottom-4
    }

    .ais-Hits--empty {
        @apply hidden
    }

    .ais-Hits-list {
        @apply bg-neutral-50 flex flex-col gap-1 divide-y divide-slate-500 shadow-md border border-slate-500 rounded-md
    }

    .ais-Hits .ais-Hits-list {
        @apply block absolute
    }

    .ais-Hits-item {
        @apply box-border block relative p-1
    }

    .ais-Highlight-highlighted {
        @apply text-slate-600 bg-sky-300
    }
}

