{% extends "base.html" %}
{% block nav %}
{% include "bar.html" %}
{% endblock %}
{% block content %}

<script src="/assets/article.js"></script>
<main class="flex flex-row px-8 py-16 md:px-16 md:py-8 gap-3 w-full h-fit">
    {% include "nav.html" %}
    <div class="flex flex-col justify-between">
        <div id="article-list" class="flex flex-col gap-8">
            <h2 class="text-2xl font-bold">{{title}}</h2>
            <div class="flex flex-row">
                <div id="article-items"
                     class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 justify-center content-center"></div>
                <script>
                    let items = document.getElementById("article-items");
                    /* @formatter:off */
                    {% for article in articles.items %}
                    items.innerHTML += generateArticleElement({
                        id: {{article.id}},
                        title: '{{article.title}}',
                        date: '{{article.date}}',
                        domain: '{{article.domain}}',
                        url: '{{article.url}}',
                        readTime: '{{article.read_time}}'
                    });
                    {% endfor %}
                    /* @formatter:on */
                </script>
            </div>
        </div>
        <div id="pagination" class="flex flex-row justify-center gap-2 text-center mt-10"></div>
        <script>
            const paginationCallBack = (page) => { window.location.href = `/?page=${page}`};
            document.getElementById("pagination").innerHTML = generatePaginationElement({
            /* @formatter:off */
            pages: {{articles.pages|json}},
            currentPage: {{articles.current_page}},
            /* @formatter:on */
        }, "paginationCallBack");</script>
    </div>
</main>

{% endblock %}
