{% block nav %}

{% endblock %}

{% block content %}
<form class="flex flex-row">
  <label>
    Username
    <input name="username" type="text"/>
  </label>
  <label>
    Email
    <input name="email" type="email"/>
  </label>
  <label>
    Confirm email
    <input name="confirm_email" type="email"/>
  </label>
  <label>
    Password
    <input name="password" type="email"/>
  </label>
  <label>
    Confirm password
    <input name="confirm_password" type="email"/>
  </label>
</form>
{% endblock %}
