{% extends "base.html" %}
{% block nav %}
<script>
    const archive = () => {
        fetch("/articles/{{article.id}}/archive", {
            method: "POST"
        }).then(() => window.location.href = "/")
    }

    const unarchive = () => {
        fetch("/articles/{{article.id}}/unarchive", {
            method: "POST"
        }).then(() => {
            let button = document.getElementById("archive-button");
            button.onclick = archive

            let icon = document.getElementById("archive-icon");
            icon.classList.remove("ti-circle-plus")
            icon.classList.add("ti-archive")
        })
    }

    const tag = () => {
        // TODO
    }

    const star = () => {
        fetch("/articles/{{article.id}}/star", {
            method: "POST"
        })
            .catch(err => console.error(err))
            .then(() => {
                let button = document.getElementById("star-button");
                button.onclick = unstar

                let unstarredIcon = document.getElementById("star-icon");
                unstarredIcon.classList.remove("ti-star");
                unstarredIcon.classList.add("text-yellow-300");
                unstarredIcon.classList.add("ti-star-filled");
            })
    }

    const unstar = () => {
        fetch("/articles/{{article.id}}/unstar", {
            method: "POST"
        })
            .catch(err => console.error(err))
            .then(() => {
                let button = document.getElementById("star-button");
                button.onclick = star

                let starredIcon = document.getElementById("star-icon");
                starredIcon.classList.remove("text-yellow-300");
                starredIcon.classList.remove("ti-star-filled");
                starredIcon.classList.add("ti-star");
            })
    }
</script>
<nav class="bg-white dark:bg-slate-600 sticky top-0 md:relative w-full">
    <div class="mx-auto md:mx-0 flex flex-row gap-4 content-center justify-center border-b border-gray-400">
        <a href="/">
            <i class="has-tooltip text-3xl ti ti-home">
                <span class="tooltip rounded-md p-1 text-sm bg-neutral-800 text-zinc-50">Back to saves</span>
            </i>
        </a>

        <a href="/articles/{{article.id}}/delete">
            <i class="has-tooltip text-3xl ti ti-trash">
                <span class="tooltip rounded-md p-1 text-sm bg-neutral-800 text-zinc-50">Delete from library</span>
            </i>
        </a>

        <button onclick=tag()>
            <i class="has-tooltip text-3xl ti ti-tag">
                <span class="tooltip rounded-md p-1 text-sm bg-neutral-800 text-zinc-50">Tag article</span>
            </i>
        </button>

        {% if article.archived %}
        <button id="archive-button" onclick=unarchive()>
            <i id="archive-icon" class="has-tooltip text-3xl ti ti-circle-plus">
                <span class="tooltip rounded-md p-1 text-sm bg-neutral-800 text-zinc-50">Re-add to save list</span>
            </i>
        </button>
        {% else %}
        <button id="archive-button" onclick=archive()>
            <i id=archive-icon" class="has-tooltip text-3xl ti ti-archive">
                <span class="tooltip rounded-md p-1 text-sm bg-neutral-800 text-zinc-50">Archive article</span>
            </i>
        </button>
        {% endif %}

        {% if article.starred %}
        <button id="star-button" onclick=unstar()>
            <i id="star-icon" class="has-tooltip text-yellow-300 text-3xl ti ti-star-filled">
                <span class="tooltip rounded-md p-1 text-sm bg-neutral-800 text-zinc-50">Remove from favorites</span>
            </i>
        </button>
        {% else %}
        <button id="star-button" onclick=star()>
            <i id="star-icon" class="has-tooltip text-3xl ti ti-star">
                <span class="tooltip rounded-md p-1 text-sm bg-neutral-800 text-zinc-50">Add to favorites</span>
            </i>
        </button>
        {% endif %}
    </div>
</nav>
{% endblock %}

{% block content %}
<section class="flex justify-center">
    <article class="px-3 md:px-0 prose dark:prose-invert lg-prose-xl">
        <h1>{{article.title}}</h1>
        {{article.content|safe}}
    </article>
</section>
{% endblock %}
