<!DOCTYPE html>
<html lang="EN">
<head>
    <script>
        const loadTheme = () => {
            // On page load or when changing themes, best to add inline in `head` to avoid FOUC
            if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark')
            }
        }
    </script>
    <title>Manucure</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="/assets/tailwind.min.css">
</head>
<body class="dark:bg-slate-600 dark:text-slate-100 flex flex-col gap-4" onload="loadTheme()">
{% block nav %}{% endblock %}
{% block content %}{% endblock %}
<div id="search-background" class="-z-50 w-full h-full absolute">
    <div class="md:flex md:place-content-center md:mt-10">
        <div id="search-container"
             class="relative w-full h-full md:w-2/5 md:h-4/6 invisible dark:text-slate-100">
            <div id="search-content">
                <div id="searchbox"></div>
                <div id="hits"></div>
            </div>
        </div>
    </div>

</div>
</body>
{% block search %}
{% include "search.html" %}
{% endblock %}
</html>

