{% extends "base.html" %}
{% block content %}
{% include "bar.html" %}
<main class="flex flex-col p-16 gap-3">
    <div class="flex flex-row">
        {% include "nav.html" %}
        <div class="flex flex-col gap-4">
            <h2 class="text-2xl font-bold">{{title}}</h2>
            <div class="flex flex-row">
                <div class="grid md:grid-cols-4 sm:grid-cols-1 gap-5 justify-center content-center">
                    {% for article in articles %}
                    <div class="flex flex-col justify-around gap rounded-lg border border-slate-300 shadow-lg
                    space-y-4 px-4 py-2 divide-slate-200 divide-y">
                        <h3><a href=./articles/{{article.id}}>{{article.title}}</a></h3>
                        <div class="flex flex-col gap pt-3">
                            <div class="flex flex-row flex-wrap gap-x-2">
                                <a href="{{article.url}}" class="text-sm text-sky-600 dark:text-sky-300 hover:underline">{{article.url|domain}}</a>
                                <span class="text-sm text-slate-700 dark:text-slate-100">|</span>
                                <span class="text-sm text-slate-700 dark:text-slate-100">{{article.text|read_time}}</span>
                            </div>
                            <span class="text-sm text-slate-700 dark:text-slate-100">Added {{article.created|date_format}}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
