<nav id="nav-menu" class="hidden w-full h-full md:w-auto md:h-auto md:flex flex-col gap-3 r-5 md:pr-5
                            md:mr-5 md:border-r border-slate-300">
    <script>
        const quickSearchButtonClicked = () => {
            let search = document.getElementsByClassName("ais-SearchBox-input");
            let searchInput = search.item(0);
            initSearch()
            searchInput.focus();
        };
    </script>
    <button onclick="quickSearchButtonClicked()"
            class="hidden md:flex text-sm px-2 py-1 flex flex-row items-center
                   justify-around border border-slate-600 dark:border-slate-100
                   text-slate-500 dark:text-slate-100 rounded-md w-48">
        <svg xmlns="http://www.w3.org/2000/svg" class="scale-75 stroke-slate-500 dark:stroke-slate-100 icon icon-tabler icon-tabler-search"
             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
             stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
            <path d="M21 21l-6 -6"></path>
        </svg>
        Quick search
        <span class="font-bold">Ctrl K</span>
    </button>

    <h4 class="text-3xl md:text-2xl border-b-2 border-slate-200 mb-3">Filters</h4>
    <script>
        const goToArchive = () => window.location.href = "/archive"
        const goToFavorites = () => window.location.href = "/favorites";
        const goToArticles = () => window.location.href = "/";
        const goToTags = () => window.location.href = "/tags";
    </script>
    <ul class="text-2xl md:text-lg md:flex flex-col divide-y divide-slate-200 md:ml-4 gap-2 justify-around ">
        <li class="cursor-pointer hover:underline pt-2" onclick="goToArticles()">Articles</li>
        <li class="cursor-pointer hover:underline pt-2" onclick="goToFavorites()">Starred</li>
        <li class="cursor-pointer hover:underline pt-2" onclick="goToArchive()">Archived</li>
        <li class="cursor-pointer hover:underline pt-2" onclick="goToTags()">Tags</li>
    </ul>
</nav>
