<script src="/assets/instant-meilisearch.umd.min.js"></script>
<script src="/assets/instantsearch.production.min.js"></script>
<script>
    const search = instantsearch({
        indexName: "{{user_index}}",
        searchClient: instantMeiliSearch(
            '{{meili_url|safe}}',
            '{{meili_secret|safe}}',
            {
                primaryKey: 'id',
                finitePagination: true,
            }
        )
    });
</script>
<script src="/assets/search.js"></script>
<script>
    const initSearch = () => {
        let search = document.getElementById("search-background");
        search.classList.add("backdrop-blur-sm");
        search.classList.remove("-z-50");
        let wrapper = document.getElementById("search-container");
        wrapper.classList.remove("invisible");
        let closeSearchOnClick = function (e) {
            let container = document.getElementById('search-content');
            if (!container.contains(e.target)) {
                quitSearch();
            }
        };

        let closeSearchEscPressed = function (e) {
            if (e.key === "Escape") {
                quitSearch()
            } else {
                return true;
            }
        };

        document.addEventListener('keydown', closeSearchEscPressed);

        document.addEventListener('click', closeSearchOnClick, {
            once: true,
            capture: true
        });
    }
    const quitSearch = () => {
        // Seems we can't use `input.value = ""` here
        let searchInput = document.getElementsByClassName("ais-SearchBox-reset").item(0);
        searchInput.click();
        let search = document.getElementById("search-background");
        search.classList.remove("backdrop-blur-sm");
        search.classList.add("-z-50");
        let wrapper = document.getElementById("search-container");
        wrapper.classList.add("invisible");
    }

    window.addEventListener('keydown', (event) => {
        const keyName = event.key;
        let search = document.getElementsByClassName("ais-SearchBox-input");
        let searchInput = search.item(0);
        if (event.ctrlKey && keyName === "k") {
            initSearch()
            event.preventDefault();
            searchInput.focus();
        } else if (event.key === "Escape") {
            searchInput.blur();
        } else {
            return true;
        }
    });
</script>